@import url('https://fonts.googleapis.com/css?family=Turret+Road&display=swap');

body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    background-color: lightblue;
    font-family: 'Turret Road', sans-serif;
    
}
#ash{
grid-column: 1;
grid-row: 1/6;
width: 400px;
height: 600px;
}
h1{
    margin-top: 30px;
    font-family: 'Turret Road', sans-serif;
    grid-column: 2/3;
}
h3{
    font-weight: bolder;
    grid-column: 2/3;
    /* text-align: center; */
}
#instructions{
    grid-column: 2/3;
}
#pokeCard1{
    float: left;
   
}
#pokeCard2{
    float: right;
   
}

#hp1, #hp2{
    /* display: inline; */
    margin-bottom: 10px;
    margin-top: 0px;
}
#name1, #name2{
    display: inline;
    position: relative;
    margin: 0px;
}

#pokeCard1, #pokeCard2{
    display: grid;
    width: 40%;
    justify-items: center;
    border: 10px solid gold;
    padding: 5px;
    opacity: 1;
    
}
.data{
    width: 600px;
    grid-column: 2/3;

}
.power{
display: inline;
margin-left: 20px;
}
#move{
    margin-bottom: 0px;
}
button{
    margin-bottom: 10px;
    grid-column: 2/3;
}
#poke1, #poke2{
    width: 200px;
    height: 200px;
    border: 4px outset gold;
    box-shadow: 4px 4px 3px  #888888;
    background-color: white;
}
.type1, .type2{
    font-weight: bolder;
    position: absolute;
    z-index: 1;
    margin-top: 59px;
    margin-left: 21px;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    background-color: white;
}
.battleHistory{
    grid-column: 2/3;
    text-align: center;
}
/* .type2{
    font-weight: bolder;
    position: absolute;
    z-index: 1;
    margin-top: 55px;
    margin-left: 25px;
} */