body,html {
    margin: 0;
    padding: 0;
    background-color: pink;
}

body {
    font-family: "Arial";
}

.data {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25vh 60vh 15vh; 
}

/* Intro Guide with buttons */
.data .title {
    grid-column: 1 / -1;
    text-align: center;
}


/* Left side of battle */
.data .firstPokemon {
    background-image: url("https://cdna.artstation.com/p/assets/images/images/006/580/020/large/marcel-kolbenschlag-iceword-background-05small.jpg?1499693005");
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* grid-row: 1 / 2 */
}

.data .firstPokemon ul li {
    list-style-type: none;
    font-size: 18px;
    line-height: 24px;
    margin: 0px 0;
    font-weight: bold;
}

/* Right side of battle */
.data .secondPokemon {
    background-image: url("https://vignette.wikia.nocookie.net/dotd/images/d/d2/Doppleganger_background_magma.jpg/revision/latest?cb=20140223230620");
    grid-column: 2 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* grid-row: 1 / 2; */
}

.data .secondPokemon ul li {
    list-style-type: none;
    font-size: 18px;
    line-height: 24px;
    margin: 0px 0;
    font-weight: bold;
}

.data .battle-history {
    background-color: gray;
    grid-column: 1 / -1;
    text-align: center;
}

button {
    font-size: 18px;
    line-height: 20px;
    padding: 6px 16px;
    border-radius: 100px;
    font-weight: bold;
    border: 1px solid black;
    width: 200px;
    background-color: gold;
    color: purple;
}

/* Working on pokemon cards */
.card1, .card2 {
    display: none;
    background: linear-gradient(to right, rgb(197, 191, 8), rgb(255, 238, 4));
    width: 250px;
    height: 350px;
    margin: 10%;
    padding: 8px;
    border-radius: 10px;
}

#background1 {
    text-align: center;
    background: linear-gradient(to right, rgb(208, 216, 240), rgb(27, 69, 184));
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#background2 {
    text-align: center;
    background: linear-gradient(to right, rgb(240, 208, 208), rgb(184, 27, 27));
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.content {
    background: linear-gradient(to right, rgb(247, 247, 215), rgb(233, 228, 176));
    height: 150px;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#poke1Img, #poke2Img {
    width: 175px;
    height: 175px;
}

#poke1Name, #poke2Name {
    text-align: center;
    font-size: 19px;
    font-weight: lighter;
    padding: 10px;
}

#poke1HP, #poke2HP {
    background-color: black;
    padding: 5px;
    color: white;
    border-radius: 5px;
    width: 100px;
    display: block;
    text-align: center;
    position: relative;
    top: -90px;
}

.pokemonMoves p {
    margin: 10px;
    display: block;
    position: relative;
    top: -53px;
}