
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightblue;
}

h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h3{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pokemon{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

#rdmWinner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#getPokemon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4px;
    width: 70px;
    height: auto;
    margin-left: 675px;
}
#battlePokemon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4px;
    width: 70px;
    height: auto;
    margin-left: 675px;
}
li{
    list-style: none;
    margin-right: 15px;
}
ul{
    margin-right: 20px;
}