body {
   font-family: sans-serif;
   background-color: lightblue;
   position: inherit;
   overflow-y: hidden;
}

.data { 
   display: grid;
   grid-column: auto;
   align-items: center;
   justify-content:center;
}


button {
   border-radius: 5px;
   height:30px;
   width: 105px;
}

button:hover{

}

#battlePokemon {
   margin-top: 10px;
}

#pokemonGrid {
   display: grid;
   grid-template-columns: repeat(2, 50%);
   justify-items: center;
   grid-gap: 10px;
}

#pokemonCard1{
   float: left;
}

#pokemonCard2{
   float: right;
}

ul, li {
   padding: 0;
}

li {
   list-style-type: none;
   text-align: left;
}

h1 {
   padding: 30px;
   text-align: center;
}

h3 {
   text-align: center;
}

 p {
    font-size: large;
    text-align: center;
 }


#winOrLoss{
   text-align: center;
}