body {
    background-image: url("assets/battle-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast()
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 3px 3px black;
}

button {
    height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
    
}

h3 {
    text-align: center;
    color: white;
    text-shadow: 3px 3px black;
}

p {
    text-align: center;
    color: white;
    text-shadow: 3px 3px black;
}