body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    font-family: sans-serif;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

button {
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5%;
    background-color: beige;
}

#battleButton {
    position: relative;

}

h1 {
    padding: 30px;
    font-size: 90px;
}

h3 {
    background-color: bisque;
    border: 1px solid black;
    text-align: center;
}

#top_heading {
    font-size: 30px;

}

.data {
    position: relative;
    top: 90px;
    font-weight: bold;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 200px;
    /* align-items: center; */
}

.data:first-child {
    position: relative;
    float: left;
}

.data:last-child {
    float: right;
}

.pokeContainer {
    width: 300px;
    display: grid;
    grid-auto-columns: 200px;
    /* background-color: cadetblue; */
    grid-gap: 10px;
}

.battleHistory {
    justify-content: center;
    width: 500px;
    font-weight: bold;
    position: absolute;
    top: 670px;
    display: grid;
    grid-template-columns: 200px;
    grid-gap: 10px;
}

.battleHistory p {
    width: 300px;
}

#battleButton {
    position: relative;
    top: 20px;
}

.pokemonName {
    font-size: 30px;
}

img {
    height: 150px;
    width: 150px;
}