body {
    text-align:center;
}

#getBtn{
    border-radius: 50%;
    width: 15%;
    padding: 16px;
}

#battlePokemon {
    border-radius: 50%;
    width: 15%;
    padding: 16px;
}

.data {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

ul {
    space
}