#icon {
  width: 70%;
}

#content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

body {
  background-image: url("https://media.giphy.com/media/uWLJEGCSWdmvK/giphy.gif");
  background-size: cover;
  image-orientation: initial;
  height: 100vh;
  background-repeat: no-repeat;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  font-size: 35pt;
}

#action {
  width: 15%;
  margin: auto;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20%;
  margin: auto;
  padding: 10px 10px 25px 25px;
  border: 7pt;
  border-color: gold;
  border-style: dotted;
  text-align: center;
  padding: 20pt;
}

#getPokemon {
  background: red;
  font-size: medium;
  font-family: sans-serif;
  border-color: goldenrod;
}

#battle {
  background: red;
  font-size: medium;
  font-family: sans-serif;
  border-color: goldenrod;
}

#data {
  display: grid;
  grid-column-gap: 130%;
  grid-template-columns: 2fr max-content;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12pt;


}

#leftScreen {
  align-content: center;
  background-color: (lightblue);
  height: 75%;
  align-items: left;
  justify-content: center;
  background-color: lightblue;
  opacity: 30%;
  z-index: 4;
}

#poke1 {
  display: block;
  margin-left: 50%;
  width: 200px;
}

#rightScreen {
  margin-top: -260px;
  margin-bottom: 150px;
  align-content: center;
  background-color: (lightblue);
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  margin-right: 100px;
  margin-left: 1000px;
  opacity: 30%;
  border: black;
  border-style: ridge;
  z-index: 4;
  white-space: nowrap;
}

.battleHistory {
  position: static;
  justify-content: space-evenly;
  text-align: center;
  width: 210px;
  height: 50%;
  margin-top: -500px;
  margin-left: 42%;
  word-spacing: 10%;
  font-family: sans-serif;
  word-spacing: 10%;
  list-style-type: none;
}