body{
    background-color: lightblue;
    font-family: sans-serif; 
    display: grid;
    /* grid-template-columns: 1fr; */
    justify-content: center;
}
/* 
h1, p, form{
    display: flex;
    justify-content: center;
}  */