 body {  
   /* position: absolute;
   justify-content: center; */
   background-image: url(pokemon-gym-background.jpg);
   background-repeat: no-repeat;
   background-size: 100%;
   /* height: 100vh;   */
   margin: 10px; 
   font-family: sans-serif;
 } 


#menu{
   position: relative;
   justify-content: flex-end;
   align-content: center;
   text-align: center;
}

#battleHistory{
   position: relative;
   justify-content: flex-end;
   align-content: center;
   text-align: center; 
   color: yellow
}
#grounds{
   /* display: grid;
   grid-template-columns: 50% 50%;
   top: 600px */
   position: relative;
   justify-content: flex-end;
   align-content: center;
   text-align: center; 
   /* color: yellow      */
}