#icon {
  width: 45%;
}

#content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

body {
  /* background-image: url("https://media.giphy.com/media/uWLJEGCSWdmvK/giphy.gif"); */
  background-size: cover;
  image-orientation: initial;
  height: 100vh;
  background-repeat: no-repeat;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  font-size: 35pt;
  border-color: red;
}


#action {
  width: 15%;
  margin: auto;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20%;
  margin: auto;
  padding: 10px 10px 25px 25px;
  border: 7pt;
  border-color: gold;
  border-style: dotted;
  text-align: center;
  padding: 20pt;
}

#stats {
  display: flex;
  flex-direction: column;
  flex-flow: column;
}

#data {
  flex-direction: column;
  border: gold;
  border-style: dashed;
}

#leftScreen {
  align-content: center;
  background-color: (lightblue);
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  margin-left: 20px;
  margin-right: 1400px;
  width: 25%;
  opacity: 30%;
  border: black;
  border-style: ridge;
  z-index: 4;
}

#rightScreen {
  align-content: center;
  background-color: (lightblue);
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  margin-right: 20px;
  margin-left: 1400px;
  width: 25%;
  opacity: 30%;
  border: black;
  border-style: ridge;
  z-index: 4;
}

.battleHistory {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  background-color: white;
  width: 100%;
  justify-content: baseline;
  padding-left: 0%;
  position: fixed;
  padding-top: 1%;
  flex-shrink: 0;
  left: 0%;
  right: 0%;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
  flex: 0 1 100%;
  padding-bottom: 1%;
  min-width: fit-content;
  justify-content: space-around;
  word-spacing: 10%;
  flex-direction: row;
  font-family: Helvetica;
  font-size: small;
  color: grey;
  word-spacing: 10%;
  flex: 0 1 100%;
  list-style-type: none;
  text-align-last: center;
}